

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Pizza
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#" [routerLink]="['/lista-pizza']">Lista</a>
      <a class="dropdown-item" href="#" [routerLink]="['/pizza']">Inserir</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Bebidas
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#" [routerLink]="['/lista-bebida']">Lista</a>
      <a class="dropdown-item" href="#" [routerLink]="['/form-bebida']">Inserir</a>
    </div>
  </div>
<router-outlet></router-outlet>