<form (ngSubmit)="salvar()">
  <div class="form-group">
    <label>Bebida</label>
    <input type="text" class="form-control" name="nome" [(ngModel)]="bebida.Bebida">
  </div>
  <div class="form-group">
    <label>Volume</label>
    <input type="text" class="form-control" name="nome" [(ngModel)]="bebida.Volume">
  </div>
  <div class="form-group">
    <label>Preço</label>
    <input type="text" class="form-control" name="nome" [(ngModel)]="bebida.Preco">
  </div>
  <div class="form-group">
    <label>URL da Imagem</label>
    <input type="text" class="form-control" name="nome" [(ngModel)]="bebida.img">
  </div>
  <button class="btn btn-primary">Salvar</button>
</form>
